/*Fonts*/

@font-face {
    font-family: "IBM_Plex_Sans_Thin";
    src: url(../fonts/IBMPlexSans-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "IBM_Plex_Sans_Regular";
    src: url(../fonts/IBMPlexSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "IBM_Plex_Sans_Medium";
    src: url(../fonts/IBMPlexSans-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "IBM_Plex_Sans_Semi_Bold";
    src: url(../fonts/IBMPlexSans-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

/*Global properties*/
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1126px;
    margin: 0 auto;
    box-sizing: border-box;
}

.comment_text {
    font-family: "IBM_Plex_Sans_Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

.section_heading {
    font-family: "IBM_Plex_Sans_Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62.4px;
    color: #A3CC40;
}

/*Navigation*/
.header {
    background-image: url(/img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 668px;

    /* clip-path polygon cuts the end of the main background picture*/
    clip-path: polygon(0% 0%, 100% 0%, 100% 81%, 0% 100%);
}

nav {
    display: flex;
}

.innopolis_logo {
    padding: 52px 0 0 89px;
}

/*Navigation bar*/
.nav_contact ul li a {
    text-decoration: none;
    color: #FFFFFF;

    font-family: "IBM_Plex_Sans";
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 15.6px;
}

/*Top navigation*/
.nav_contact {
    padding: 47px 0 0 45px;
}

.nav_contact ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.contact li {
    padding-right: 65px;
}

.contact li a:hover {
    text-decoration: underline;
    color: aqua;
}

.button_call {
    background-color: #FFFFFF;
    border-radius: 6px;
}

.lang_select {
    padding-left: 45px;
    background-color: transparent;
    border: transparent;
    color: white;
}

/*Bottom navigation*/

.sections_nav li {
    padding: 8px 75px 0 0;
}

.sections_nav li a:hover {
    text-decoration: underline;
    color: aqua;
}

/*Main headers*/

.main_header {
    font-family: "IBM_Plex_Sans_Thin";
    font-size: 68px;
    line-height: 88.4px;
    font-weight: 100;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    margin: 129px 0 0 0;
}

.under_main_header {
    font-family: 'IBM_Plex_Sans_Regular';
    font-size: 41px;
    line-height: 92.4px;
    font-weight: 100;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    margin: 72px 0 0 0;
    position: absolute;
    width: 981px;
    left: 461px;
    top: 240px;
}


/*Welcome block*/
.welcome {
    position: absolute;
    height: 221px;
    width: 426px;
    border-radius: 10px;
    left: 953px;
    top: 525px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    text-align: center;
}

.welcome h3 {
    font-family: "IBM_Plex_Sans_Semi_Bold";
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    font-style: normal;
    color: #333333;
    margin-bottom: 22px;
}

.welcome p {
    padding: 0 58px;
    text-align: left;
}

/*Why us section*/
.why_us {
    padding: 0 0 0 139px;
}

.why_us_first_row {
    display: flex;
}

.why_us_second_row {
    display: flex;
    margin-top: 35px;
}

.why_us h2 {
    margin-top: 31px;
    margin-bottom: 82px;
}

.why_us_cards {
    text-align: center;
    width: 245px;
    padding-right: 55px;
}

.why_us_cards img {
    border-radius: 10px;
}

.why_us_cards h3 {
    font-family: "IBM_Plex_Sans_Semi_Bold";
    font-size: 20px;
    text-align: center;
    font-style: normal;
    line-height: 26px;
    padding: 12px 0;
}

/*Choose film (table)*/
.choose_film {
    padding: 114px 0 0 140px;
}

/*Table*/
.table {
    border-collapse: separate;
    /*collaps was removed because of it border-radius didn't work*/
    border-spacing: 0;
    padding-top: 45px;
}

.table_head {
    font-family: "IBM_Plex_Sans_Semi_Bold";
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    background: #a3cc40;
    color: #ffff;
    text-align: left;
    height: 45px;
}

th a {
    text-decoration: none;
    color: #FFFFFF;
}

th svg {
    vertical-align: middle;
}

.t_body {
    font-family: "IBM_Plex_Sans_Regular";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14.2px;
    color: #ffff;
}

.film_p {
    font-size: 11px;
    margin-left: -156px;
    margin-top: 29px;
    text-align: center;
}

.section__heading {
    font-size: 49px;
    font-family: 'IBM_Plex_Sans_Regular';
    margin: -7px 3px 39px 0px;
}

/*Styles for border-radius*/
th.check {
    border-radius: 10px 0 0 0;
}

th.cell_genre {
    border-radius: 0 10px 0 0;
}

tbody tr:last-child td.cell_genre {
    border-radius: 0 0 10px 0;
}

tbody tr:last-child td.check {
    border-radius: 0 0 0 10px;
}

.check {
    width: 77px;
}

.cell_session {
    width: 234px;
}

.cell_film_name {
    width: 240px;
}

.cell_genre {
    width: 287px;
}

.check svg {
    padding-left: 24px;
}

.first_row {
    background-color: #373737;
    height: 45px;
}

.second_row {
    background-color: #4c4d4f;
    height: 45px;
}

.table__text {
    text-align: center;
    font-size: 13px;
    width: 521px;
    margin-left: 143px;
    font-weight: 400;
    font-family: 'IBM Plex Sans';
    padding: 13px;
}

/* Prize */

.main__center {
    text-align: end;
    color: white;
    padding-top: 100px;
    padding-right: 50px;
    font-size: 16px;
    background-image: url(/img/photo_2021-09-03_17-04-23.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 685px;
    clip-path: polygon(0% 28%, 108% 0%, 118% 62%, 0% 87%);
    margin-top: 53px;
}

.main__text {
    margin-right: 185px;
}

.podarok {
    position: absolute;
    left: 530px;
    border-radius: 100%;
    top: 2185px;
}

.button {
    background-color: #a3cc40;
    margin-right: 296px;
    margin-top: 45px;
    font-size: 14px;
    color: white;
    border: none;
    padding: 7px 33px 7px 33px;
    text-align: center;
    border-radius: 10px;
}

.present_content {
    width: 550px;
    text-align: right;
    margin-right: 471px;
    margin-top: 82px;
}

/* film */

.sinema__heading {
    font-family: "IBM_Plex_Sans_Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 149px;
    color: #A3CC40;
    margin: 140px;
}

.sinema__card {
    display: flex;
    margin: -65px 0 60px 140px;
}

.sinema {
    margin: -264px 0px 0px 390px;
}

.sinema__text {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    position: absolute;
    width: 549px;
    height: 28px;
    left: 529px;
    top: 2953px;
}

/* Goods */

.goods {
    margin: -72px 0px 0px 502px;
}

.goods__h2 {
    margin: auto;
    position: absolute;
    width: 548px;
    height: 62px;
    left: 531px;
    top: 3986px;
    font-family: 'IBM_Plex_Sans_Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.goods__p {
    margin-bottom: -20px;
    margin-left: 29px;
    margin-top: 237px;
    height: 28px;
    font-size: 11px;
}

.card__img {
    width: 100%;
    height: 100%;
}

.goods__services {
    display: flex;
    width: 30%;
    margin: 20px;
    height: 331px;
    left: 140px;
    top: 4160px;
}

.card {
    width: 245px;
    height: 331px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.picture__text {
    margin: 55px;
    margin-left: 5px;
}

.card__hover {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: rgba(163, 204, 64, 0.8);
    clip-path: polygon(0 43%, 100% 0, 100% 100%, 0% 100%);
    width: 98%;
    padding-top: 100px;
    height: 153px;
    overflow: hidden;
    border-radius: 10px;
    bottom: 7px;
    text-align: center;
}

/* Reviews */

.reviews__heading {
    color: #A3CC40;
    margin: 286px 0 0 129px;
    margin-left: 141px;
    height: 42px;
    font-family: 'IBM_Plex_Sans_Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
    line-height: 59px;
}

.reviews__text {
    font-size: 11px;
    color: white;
    margin: -14px 0 0 126px;
    margin-top: 9px;
    margin-left: 170px;
}

#reviews {
    background: url(/img/photo_2021-09-03_17-05-18.jpg) no-repeat center/cover;
    border: 1px solid white;
    height: 913px;
    padding: 40px;
    margin-top: -116px;
    clip-path: polygon(0 31%, 100% 18%, 100% 91%, 0% 102%);
}

.section__photo {
    display: flex;
    margin-left: 127px;
}

.photo__middle {
    display: inline-block;
    background-color: yellowgreen;
    width: 245.56px;
    height: 332px;
    color: white;
    border-radius: 9px;
    margin: 79px 72px 0 0px;
}

.customers__1mg {
    width: 245.56px;
    height: 178.54px;
}

.photo {
    display: inline-block;
    background-color: yellowgreen;
    width: 210px;
    height: 284px;
    color: white;
    border-radius: 9px;
    margin: 100px 89px 0 0px;
    margin-left: 17px;
    margin-top: 102px;
}

.photo img {
    width: 208px;
    height: 154.73px;
    display: flex;
}

.photo h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 15px 19px 0 7px;
    font-family: 'IBM_Plex_Sans_Semi_Bold';
}

.photo p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    vertical-align: text-top;
    width: 171px;
    height: 52px;
    margin: -8px 0 0px 8px;
}

.photo__middle h4 {
    width: 220.4px;
    height: 23.02px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 15px 8px 0 17px;
    font-family: 'IBM_Plex_Sans_Semi_Bold';
}

.photo__middle p {
    width: 220.4px;
    height: 42.03px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0 0 0 17px;
}

.form_s {
    border: none;
    margin: 43px 183px 61px 174px;
    display: flex;
    width: 767px;
    background: #FFFFFF;
    box-shadow: 8px 9px 39px rgb(185 185 185 / 37%);
    border-radius: 20px;
    margin-left: 564px;
}

.form_s img {
    margin-left: 27px;
}

.img-back {
    background: url(/img/krists-luhaers-AtPWnYNDJnM-unsplash.png);
    width: 414px;
    height: 527px;
    border-radius: 20px;
}

.p_form {
    margin-left: -27px;
}

.tx_form {
    text-align: center;
    margin-top: 29px;
    width: 311px;
    height: 29px;
    font-family: 'IBM_Plex_Sans_Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #A3CC40;
}

.full_name {
    color: #A1A1A1;
    width: 314px;
    height: 40px;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 15.56px;
    padding-right: 15px;
    margin-top: 20px;
}

.head11 {
    background: url(/img/green.png);
    padding: 5%;
}

.box0 {
    display: flex;
}

.contact_logo {
    width: 30%;
    color: white;
}

.text2 {
    margin-left: 50px;
}

.text2 a {
    color: white;
}

.text2 ul {
    list-style: none;
}

.link {
    margin-right: 20px;
    text-decoration: none;
}